.custom-danger-button {
    display: inline-block;
    align-items: center;
    padding: 0.375rem 0.75rem;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 0.375rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    vertical-align: middle;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(8, 10, 12, 0.075);
    transition: all 0.15s ease-in-out;
}

.custom-danger-button:hover {
    background-color: #c82333;
}

.custom-danger-button:active {
    background-color: #bd2130;
}

.custom-danger-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.custom-primary-button {
    display: inline-block;
    align-items: center;
    padding: 0.375rem 0.75rem;
    background-color: #343a40;
    border: 1px solid #343a40;
    border-radius: 0.375rem;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
    vertical-align: middle;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(8, 10, 12, 0.075);
    transition: all 0.15s ease-in-out;
}

.custom-primary-button:hover {
    background-color: #23272b;
}

.custom-primary-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.15);
}

.custom-primary-button:active {
    background-color: #1d2124;
}

.custom-primary-button.bg-light {
    background-color: #f8f9fa;
}

.custom-primary-button.text-dark {
    color: #343a40;
}

.custom-primary-button:hover.bg-light {
    background-color: #e2e6ea;
}

.custom-primary-button:focus.bg-light {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.custom-primary-button:active.bg-light {
    background-color: #dae0e5;
}

.custom-secondary-button {
    display: inline-block;
    align-items: center;
    padding: 0.375rem 0.75rem;
    background-color: #ffffff;
    border: 1px solid #6c757d;
    border-radius: 0.375rem;
    font-weight: 700;
    font-size: 1rem;
    color: #343a40;
    line-height: 1.5;
    vertical-align: middle;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(8, 10, 12, 0.075);
    transition: all 0.15s ease-in-out;
}

.custom-secondary-button:hover {
    background-color: #f8f9fa;
}

.custom-secondary-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.15);
}

.custom-secondary-button:active {
    background-color: #e2e6ea;
}

.custom-secondary-button.bg-dark {
    background-color: #343a40;
}

.custom-secondary-button.text-light {
    color: #f8f9fa;
}

.custom-secondary-button:hover.bg-dark {
    background-color: #23272b;
}

.custom-secondary-button:focus.bg-dark {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.15);
}

.custom-secondary-button:active.bg-dark {
    background-color: #1d2124;
}

.custom-secondary-button.disabled {
    opacity: 0.25;
}